img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

body{
  background: rgb(250,250,250);
}

#title {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1.66%;
  margin-bottom: 15px;
  font-size: 30px;
  border-bottom: 4px solid #f1f1f1;
  width: 30%;
  padding-bottom: 10px;
  
}


a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}